/* FONTS */
h1							{ font-size: 3rem; line-height: 1.3; color: $default-text; font-family: $header-font; font-weight: bold; margin-bottom: 20px; margin-top: 0px; }
h2							{ font-size: 2.4rem; line-height: 1.3; color: $default-text; font-family: $header-font; font-weight: bold; margin-bottom: 30px; margin-top: 0px; }
h3							{ font-size: 1.8rem; line-height: 1.3; color: $default-text; font-family: $header-font; font-weight: bold; margin-bottom: 30px; margin-top: 0px; }
h4							{ font-size: 1.6rem; line-height: 1.3; color: $default-text; font-family: $header-font; font-weight: bold; margin-bottom: 30px; margin-top: 0px; text-transform: uppercase; }
h5							{ font-size: 1.6rem; line-height: 1.3; color: $default-text; font-family: $header-font; font-weight: bold; margin-bottom: 20px; margin-top: 0px; }
h6							{ font-size: 1.6rem; line-height: 1.3; color: $default-text; font-family: $header-font; font-weight: bold; margin-bottom: 20px; margin-top: 0px; }

h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white				{ color: #FFFFFF; }

body,
p,
ul li,
ol li						{ font-weight: normal; color: $default-text; font-size: 1.6rem; font-family: $body-font; }

html 						{ font-size: $root-font-size; line-height: 1.5; }
body 						{ font-size: $root-font-size; line-height: 1.5; }
p 							{ margin-bottom: 20px; }
ul,ol 					{ margin-bottom: 20px; }

a								{ color: $anchor-color; font-weight: bold;

	&:visited			{ color: $anchor-color; }

	&:focus,
	&:active			{ color: $anchor-color; }

	&:hover				{ color: $anchor-hover; text-decoration: none; }

}


@media (max-width: $screen-xs-max) {
	html 						{ font-size: 8px; }
}
